/* 
    Document   : index
    Created on : 2013-4-16, 11:55:42
    Author     : Ann Lee
    Description:
        Purpose of the stylesheet follows.
*/
body {
	background-image: url(../img/bodyBack.png);
	background-position: bottom;
	background-color: rgb(174, 206, 189);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

html,body {
	height: 100%;
	font-family: "Microface YaHei", Tahoma, sans-serif;
}
/*------------------------------------------------------------*/
/*--------------------- navigation on top --------------------*/
/*------------------------------------------------------------*/
.websiteTitleInNav {
	width: 20%
}

#navUl {
	position: relative;
	left: -400px;
	top: 20px;
}
#navU2{
	position: relative;
	top: 20px;
}
.navBack {
	background-image: url(../img/navBack.png);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: right -28px;
	opacity: 0.8;
	font-size: 13px;
        height: 60px;
}

.navBack:hover {
	opacity: 1;
}

.searchFormInNav {

}
.searchFormInNav .btn {
	border-radius: 50em;
}
#inp-query{
	margin-top: 5px;
	font-size: 13px;
	width:200px;
}
#drop5{
	margin-right:15px;
}
/*------------------------------------------------------------*/
/*---------------------  main container div ------------------*/
/*------------------------------------------------------------*/
#mainWindow {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.portraitInBlogPiece {
	width: 10%;
}

#mainWindow>.row-fluid {
	margin-top: 8%;
}
/*------------------------------------------------------------*/
/*---------------------for message window---------------------*/
/*------------------------------------------------------------*/
.messagesDiv {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 20;
}
.messageDiv {
	width: 300px;
	background-color: white;
	border: 1px solid rgb(199, 199, 199);
	box-shadow: 1px 1px 3px #999;
	opacity: 0.9;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
	display: none;
}
.templateMsgDiv {
	display: none;
}
.messageDiv i {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 10px;
	color: #61c4b8;
	font-size: 1.1em;
}

.messageDiv p {
	margin-left: 30px;
	margin-bottom: 0;
	color: grey;
}
/*------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*-------------------pagination module------------------------*/
/*------------------------------------------------------------*/
.pagination {
	text-align: right;
}

.pagination ul {
	background-color: white;
	position: relative;
	right: 4%;
}
.currentPageA, .noNext {
	background-color: #f5f5f5;
	color: #999;
}
.hideMorePage {
	display: none;
}
/*------------------------------------------------------------*/
.searchinfo{
    top:0;
    position: absolute;
	display: inline;
	float: right;
	right: 0;
}
.row-fluid{
	margin-bottom: 100px;
}