.row-fluid{
	background-color: white;
	border-radius: 15px;
}
.groupLink{
	margin-top: 100px;
}
.groupLink-div{
	margin-bottom: 10px;
}
.groupLink a{
	text-decoration: none;
	margin-bottom: 10px;
}
.groupLink a:hover{
	background-color: #3377AA;
	color: white;
}
.topicList{
	padding: 20px;
}
.topicList h3{
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.topicTable{
	margin-left: 20px;
	margin-bottom: 0;
}
.topicTable th{
	color: rgb(102, 102, 102);
	font-size: 12px;
	font-weight: normal;
}
.topicTable a{
	text-decoration: none;
}
.topicTable a:hover{
	background-color: #3377AA;
	color: white;
}
#topicMore{
	margin-left: 20px;
	width: 100%;
}