.row-fluid{
	background-color: white;
	border-radius: 15px;
}
.control-label{
	float: left;
}
.infoChange{
	padding: 20px;
}
.infoChange h3{
	padding-bottom: 20px;
	padding-left: 20px;
}
.control-group{
	text-align: right;
	width: 300px;
}
.mainLink{
	margin-top: 100px;
}
.mainLink-div{
	margin-bottom: 10px;
}
.mainLink a{
	text-decoration: none;
	margin-bottom: 10px;
}
.mainLink a:hover{
	background-color: #3377AA;
	color: white;
}
.thingInput-href{
	margin-top: 10px;
	margin-bottom: 20px;
}
.thingInput-href img{
	width: 140px;
	height: 140px;
}
.thingInput-href img{
	margin-right: 20px;
	margin-left: 32px;
}
.thingInput-href label{
	float: left;
	margin-top: 4px;
	margin-right: 13px;
}
.thingInput-href label{
	margin-top: 50px;
}