@CHARSET "UTF-8";
/*------------------------------------------------------------*/
/*----------------------search list module--------------------*/
/*------------------------------------------------------------*/
.resultList{
	background-color:white;
	box-shadow: 1px 1px 5px rgb(168, 168, 168);
	border-radius: 15px;
}
.sourceImg{
	float:left;
	width:80px;
	height:80px;
}
.resultHead{
	border-bottom: 1px dashed #ddd;
	line-height: 100%;
	clear: both;
	margin-bottom:-1px;
}
.orderLink{
	text-align: right;
	padding: 22px 2px 2px 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.orderLink small{
	color:#999999;
}
.orderLink a{
	text-decoration:none;
	font-size: 13px;
}
.orderLink a:hover{
	background-color:#0088cc;
	color:white;
}
.resultPart{
	display:block;
}
.singleResult{
	display:block;
	margin-left:40px;
	margin-right:40px;
	border-bottom: 1px dashed #ddd;
	margin-top:1px;
}
.singleResult img{
	padding:30px 30px 30px 0px;
}
.titlePath{
	padding-top:30px;
	display:block;
}
.sourceTitle{
	display:block;
}
.sourceTitle a{
	text-decoration:none;
	font-size:14px;
}
.sourceTitle a:hover{
	background-color:#0088cc;
	color:white;
}
.sourcePath{
	line-height:4;
	font-size:15px;
}
.searchFooter{
	height:120px;
}
/*------------------------------------------------------------*/
/*-------------------------side bar module--------------------*/
/*------------------------------------------------------------*/
.sideBar {
	background: white;
	box-shadow: 2px 1px 10px rgb(168, 168, 168);
}

.sideBar ul {
	margin-bottom: 0;
}

.sideBar li {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 1px;
	background-color: #f3f3f3;
	padding: 10px;
	cursor:pointer;
}
.nameInUserInfo {
    margin-left: 5%;
    font-size: 1.5em;
}
.sideBar li:last-child {
	margin-bottom: 0;
}

.sideBar li:hover {
	background-color: white;
}

.portraitInUserInfo {
	width: 30%;
}
.blogEntry {
	font-size: 1.5em;
	text-align: center;
}
.blogEntry button {
	width: 98%;
}
/*------------------------------------------------------------*/
