<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>iSharing - 搜索结果</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet"
              media="screen">
        <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href="css/common.css" rel="stylesheet" media="screen">
        <link href="css/sendmail.css" rel="stylesheet" media="screen">
    </head>

    <body>
        <!--------------------------- navigation bar -------------------------->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner navBack">
                <div>
                    <a class="btn btn-navbar" data-toggle="collapse"
                       data-target=".nav-collapse"> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> </a> <a
                        class="brand" href="#"><img src="img/websiteTitle.png"
                                                class="websiteTitleInNav" /> </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav" id="navUl">
                            <li class="active">
                                <a href="#">首页</a>
                            </li>
                            <li>
                                <a href="#">我的小组</a>
                            </li>
                            <li>
                                <a href="#">发现小组</a>
                            </li>
                            <li>
                                <a href="#">消息</a>
                            </li>
                        </ul>
                        <div class="searchinfo">
                            <ul class="nav" id="navU2">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">姓名<b class="caret"></b></a>
                                    <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的主页</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的账号</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                                    </ul>
                                </li>
                                <li><form class="form-search searchFormInNav">
                                        <input type="text" id="inp-query" class="input-medium search-query"
                                               placeholder="搜索你要的">
                                        <button type="submit" class="btn">
                                            <i class="icon-search"></i>
                                        </button>
                                    </form></li>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--------------------------- inoutbox page -------------------------->
        <div id="mainWindow" class="container">
            <div class="row-fluid">
              <div class="mailContainer">
                <h3>发送消息</h3>
                <div class="objectInfo">
                  <span>寄给: Chris</span>
                  <a href="#"><img src="img/Eric.jpg" class="img-rounded"></a>
                  <div class="titleAndMail">
                    <div class="titleAndMail-title">
                      <label for="titleAndMail-title-input">标题:</label>
                      <input id="titleAndMail-title-input" class="input-xxlarge" maxlength="20" type="text" name="titleAndMail-title-input" placeholder="写入你的标题">
                    </div>
                    <div class="titleAndMail-mail">
                      <label for="titleAndMail-mail-input">内容:</label>
                      <textarea id="titleAndMail-mail-input" name="titleAndMail-mail-input" rows="15"></textarea>
                    </div>
                  </div>
                  <div class="objectInfoFooter">
                    <button class="btn btn-success" type="button">发送信息</button>
                    <button class="btn" type="button">取消</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/common.js"></script>
        <script src="js/sendmail.js"></script>
    </body>
</html>
